In [1]:
# Required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
df = pd.read_csv('../data/Daily_Demand_Forecasting_Orders.csv',delimiter=';', parse_dates=True)
df.head()

,"Week of the month (first week, second, third, fourth or fifth week",Day of the week (Monday to Friday),Non-urgent order,Urgent order,Order type A,Order type B,Order type C,Fiscal sector orders,Orders from the traffic controller sector,Banking orders (1),Banking orders (2),Banking orders (3),Target (Total orders)
0,1,4,316.307,223.270,61.543,175.586,302.448,0.000,65556,44914,188411,14793,539.577
1,1,5,128.633,96.042,38.058,56.037,130.580,0.000,40419,21399,89461,7679,224.675
2,1,6,43.651,84.375,21.826,25.125,82.461,1.386,11992,3452,21305,14947,129.412
3,2,2,171.297,127.667,41.542,113.294,162.284,18.156,49971,33703,69054,18423,317.120
4,2,3,90.532,113.526,37.679,56.618,116.220,6.459,48534,19646,16411,20257,210.517

In [3]:
X = df.drop(columns=['Target (Total orders)','Week of the month (first week, second, third, fourth or fifth week','Day of the week (Monday to Friday)'])
y = df['Target (Total orders)'].values

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Linear Regression Results:")
print (model.coef_)
print (model.intercept_)

Linear Regression Results:
[-1.75001510e-14 -1.42108547e-14  1.86723354e+01  5.03167666e+01
  4.10961227e+01 -1.55986335e-14  1.77635684e-14  1.95399252e-14
  6.39488462e-14  2.02060590e-14]
300.87331666666665

In [6]:
mae_linear = mean_absolute_error(y_test, y_pred)
mse_linear = mean_squared_error(y_test, y_pred)
r2_linear = r2_score(y_test, y_pred)
print('Multiple Linear Regression:')
print('r2-score:', np.round(r2_linear, 5), 
      '\nmean squared error:', np.round(mse_linear, 5), 
      '\nmean absolute error:', np.round(mae_linear, 5))

Multiple Linear Regression:
r2-score: 1.0
mean squared error: 0.0
mean absolute error: 0.0